<div class="about">
  <div class="container">
    <h1>About ME</h1>
    <div class="row">
      <div class="col-left">
        <div class="card shadow ">
          <div class="user">
            <img src="./assets/img/user.jpg" alt="card">
          </div>
          <div class="card icon-profile">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" />
          </div>
        </div>
      </div>
      <div class="col-right">
        <div class="about-proflie-header">
          <div class="tools">
            <div class="circle">
              <span class="red box"></span>
            </div>
            <div class="circle">
              <span class="yellow box"></span>
            </div>
            <div class="circle">
              <span class="green box"></span>
            </div>
          </div>
        </div>
        <div class="card-detail">
          <div class="about-proflie">
            <h2>
              Hello  My name is Nuttawut Wongpanich Call Me Tao I'm Web developer at Thailand
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
