<div class="about">
  <div class="about-detail">
    <h1>About ME</h1>
    <div class="row">
      <div class="col-left">
        <div class="card shadow ">
          <div class="user">
            <img src="./assets/img/user.jpg" alt="card">
          </div>
          <div class="card icon-profile">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" />
          </div>
        </div>
      </div>
      <div class="col-right">
        <div class="about-proflie-header">
          <div class="tools">
            <div class="circle">
              <span class="red box"></span>
            </div>
            <div class="circle">
              <span class="yellow box"></span>
            </div>
            <div class="circle">
              <span class="green box"></span>
            </div>
          </div>
        </div>
        <div class="card-detail">
          <div class="about-proflie">
            <h2>
              <!-- <label style="text-align: start;">
                &nbsp;&nbsp;&nbsp; Hello  My name is Nuttawut Wongpanich I'm Web developer at Thailand
              </label>
              <br> -->
              <label style="text-align: start;">
                &nbsp;&nbsp;&nbsp; This is my personal website. I working I'm working with junior full statck  front-end frameworks like Angular and back-end frameworks like .net-framework 6
                I like to develop myself to good version thank you for good opportunity :)
                <br>
            </label>

            </h2>
          </div>
        </div>
      </div>

    </div>
    <!-- <button type="button" class="btn btn-primary">Open modal</button> -->
  </div>
</div>
