.container
{
    padding: 10px 10%;
}
.skill{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background-color: #262626;
  color: #fff;
  font-weight: 300px;


}
.skill h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.skill-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px , 1fr));
  // grid-template-columns:minmax();
  grid-gap: 40px;
  margin-top: 50px;
}
.skill-list-item{
  // background-color: aliceblue;
  border-radius: 10%;
}

@media only screen and (max-width : 400px){
  .skill-list-item{
    text-align: center;
  }
}
