<div class="skill">
  <h1>MY SKILLS</h1>
  <div class="skill-detail">
    <div class="skill-list">
      <div class="skill-list-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" />
        <h2>Angular</h2>
      </div>
      <div class="skill-list-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
        <h2>HTML 5</h2>
      </div>
      <div class="skill-list-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
        <h2>Java-Script</h2>
      </div>
      <div class="skill-list-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" />
        <h2>Type-Script</h2>
      </div>
      <div class="skill-list-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
        <h2>CSS</h2>
      </div>
      <div class="skill-list-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" />
        <h2>SASS</h2>
      </div>
      <div class="skill-list-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" />
        <h2>C#</h2>
      </div>
      <div class="skill-list-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/microsoftsqlserver/microsoftsqlserver-plain.svg" />
        <h2>SQL Server</h2>
      </div>
      <div class="skill-list-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original-wordmark.svg" />
        <h2>Azure SQL Server</h2>
      </div>
      <div class="skill-list-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original-wordmark.svg" />
        <h2>Docker</h2>
      </div>
      <div class="skill-list-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" />
        <h2>Git</h2>
      </div>
    </div>
  </div>
</div>
