.skill-detail
{
    padding: 50px 10%;
}
.skill{
  width: 100%;
  text-align: center;
  padding: 50px 0;
  background-color: #262626;
  color: #fff;
  font-weight: 300px;
}
.skill h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 60px;
}

.skill-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px , 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.skill-list-item{
  border-radius: 10%;
}

@media only screen and (max-width : 400px){
  .skill-list-item{
    text-align: center;
  }
  .skill h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
  }
}
