.pre-title {
  text-align: center;
}
.title {
  margin: auto;
  width: 100%;
  height: 700px;
}
.title-header{
  padding-top: 300px;
  text-align: center;
}
.typing-carousel {
  position: relative;
  height: 50px;
  overflow: hidden;
}

.typing-carousel-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.typing-carousel-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.typing-carousel-item.active {
  opacity: 1;
}
