<div class="title">
  <div class="title-header">
    <!-- <h1>NUTTAWUT WONGPANICH</h1> -->
    <h1>My Proflie Website</h1>
    <ngx-typed-js style="font-size: 40px; font-weight: 500;"
      [strings]="['Web-develop.', 'Full-stack-developer.', 'Programmer.']" [loop]="true" [backSpeed]="100"
      [typeSpeed]="100">
      I am a
      <span class="typing"></span>
    </ngx-typed-js>
    <!-- <h1 style="font-size: 100px;"><i class="fa fa-user-circle-o" aria-hidden="true"></i></h1> -->
  </div>
  <!-- <div class="typing-carousel">
    <div class="typing-carousel-inner">
      <div class="typing-carousel-item"
        *ngFor="let item of items; let i = index"
        [ngClass]="{ active: i === activeIndex }">
        {{ item }}
      </div>
    </div>
  </div> -->
</div>
