<div class="title">
  <div class="title-header">
    <!-- <h1>NUTTAWUT WONGPANICH</h1> -->
    <h1>My Proflie Website</h1>
    <ngx-typed-js style="font-size: 40px; font-weight: 500;"
      [strings]="['Web-developer.', 'Full-stack-developer.', 'Programmer.']" [loop]="true" [backSpeed]="100"
      [typeSpeed]="100">
      I am a
      <span class="typing"></span>
    </ngx-typed-js>
  </div>
  <div class="swipe-up">
    <div class="box">
      <div class="hid-box">
        <h1>Please Swipe Up</h1>
      </div>
    </div>
  </div>
</div>
