.project-detail {
  padding: 10px 10%;
  // padding: 5px 5%;
}
.project-detail h1 {
  padding: 10px 10%;
  text-align: center;
  font-family: 'TH SarabunPSK';
  font-size: 100px;
  font-weight: bolder;
  color: #262626;
}
.project {
  // padding: 50px 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 300px;
}
// .project-item {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));
//   grid-gap: 50px;
//   margin-top: 30px;
// }
// // .project-item{
// //   display: grid;
// //   grid-template-columns: repeat(auto-fit,minmax(100px , 1fr));
// //   grid-gap: 40px;
// //   margin-top: 50px;
// // }
//
// .project-item {
//   display: grid;
//   grid-template-columns: auto
// }
.project-item div {
  // background: #ffffff;
  padding: 20px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.project-item div:hover {
  // background: #ff004f;
  transform: translateY(-10px);
}
.project-item-list {
  display: grid;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  // display: flex;
}
// // .item-img{
// //   width: 100px;
// //   height: 100px;
// // }
.project-item img {
  width: 900px;
  height: 900px;
  align-items: center;
  // margin: 0 0 0 10px;
}
.item-card {
  box-shadow:
    inset // 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 0px rgb(190, 190, 190);
  // 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  // height: 250px;
  // height: 330px;
  background: #ffffff;
  width: fit-content;
  align-items: center;
}
.item-card:hover {
  box-shadow:
    inset // 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 0px rgb(190, 190, 190);
  // 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  // height: 250px;
  // height: 330px;
  background: #ff004f;
  width: fit-content;
  align-items: center;
}
.item-card h2 {
  font-size: 60px;
  font-family: 'TH SarabunPSK';
  font-weight: bold;
  color: #262626;
}
// // @media only screen and (max-width : 900px) {
// //   .project-item {
// //     display: grid;
// //     grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
// //     grid-gap: 40px;
// //     margin-top: 50px;
// //     display: flex;
// //     justify-content: space-between;
// //   }
// //   .project-item-list{
// //     width: 300px;
// //     height: 300px;
// //     // height: 310px;
// //     display: flex;
// //   }
// //   .project-item div {
// //      background: #ff004f;
// //     padding: 10px;
// //     // font-size: 13px;
// //     // font-weight: 300;
// //     border-radius: 10px;
// //     // transition: background 0.5s, transform 0.5s;
// //   }
// //   .project-item img{
// //     display: flex;
// //     width: 260px;
// //     height: 260px;
// //     // height: 310px;
// //     align-items: center;
// //     justify-content: space-between;
// //     border-radius: 10px;
// //     // margin: 0 0 0 10px;
// //   }
// //   .container h1 {
// //     font-size: 60px;
// //   }
// //   .item-card{
// //     box-shadow:
// //     inset
// //     // 0 -3em 3em rgba(0, 0, 0, 0.1),
// //     0 0 0 2px rgb(190, 190, 190);
// //     // 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
// //     // height: 250px;
// //     height: 330px;
// //     background: #ffffff;
// //   }
// // }
@media only screen and (max-width : 400px) {
  // .project-item {
  //   display: grid;
  //   grid-template-columns: auto;
  //   grid-gap: 60px;
  //   column-gap: 5px;
  //   margin-top: 50px;
  //   display: flex;
  //   justify-content: space-between;
  // }
  // .project-item-list{
  //   width: fit-content;
  //   // height: 300px;
  //   // height: 310px;
  //   display: flex;
  //   // width: 100%;
  //   justify-content: center;
  // }
  // .project-item div:hover {
  //   // background: #ff004f;
  //   transform: translateY(0px);
  // }
  // .project-item div {
  //   // background: #ffffff;
  //   padding-left: -10px;
  //   // font-size: 13px;
  //   // font-weight: 300;
  //   border-radius: 10px;
  //   // transition: background 0.5s, transform 0.5s;
  // }
  // .project-item img{
  //   display: flex;
  //   width: 260px;
  //   height: 260px;
  //   // height: 310px;
  //   align-items: center;
  //   justify-content: space-between;
  //   border-radius: 10px;
  //   // margin: 0 0 0 10px;
  // }
  // .project-detail h1 {
  //   font-size: 60px;
  // }
  .item-card {
    box-shadow:
      inset 0 0 0 2px rgb(190, 190, 190);
    width: min-content;
    background: #ffffff;
  }
  .item-card h2 {
    font-size: 30px;
    color: #262626;
  }
  .project-item img {
    width: 260px;
    height: 260px;
    align-items: center;
    // margin: 0 0 0 10px;
  }
}
@media only screen and (max-width : 700px) and (min-width : 400px) {
  .project-item {
    // display: grid;
    grid-template-columns: auto;
     grid-gap: 60px;
    margin-top: 50px;
    // display: flex;
    justify-content: space-between;
  }
  .item-card {
    box-shadow:
      inset 0 0 0 2px rgb(190, 190, 190);
    width: min-content;
    background: #ffffff;
  }
  .item-card h2 {
    font-size: 30px;
    color: #262626;
  }
  .project-item img {
    width: 500px;
    height: 500px;
    align-items: center;
    // margin: 0 0 0 10px;
  }
}
@media only screen and (max-width : 900px) and (min-width : 700px) {
  .project-item {
    // display: grid;
    grid-template-columns: auto;
     grid-gap: 60px;
    margin-top: 50px;
    // display: flex;
    justify-content: space-between;
  }
  .item-card {
    box-shadow:
      inset // 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(190, 190, 190);
    // 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    // height: 250px;
    width: min-content;
    background: #ffffff;
  }
  .item-card h2 {
    font-size: 30px;
    color: #262626;
  }
  .project-item img {
    width: 650px;
    height: 650px;
    align-items: center;
    // margin: 0 0 0 10px;
  }
}

@media only screen and (max-width : 1300px) and (min-width : 900px) {
  .project-item {
    // display: grid;
    grid-template-columns: auto ;
     grid-gap: 60px;
    margin-top: 50px;
    // display: flex;
    justify-content: space-between;
  }

  .item-card {
    box-shadow:
      inset // 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(190, 190, 190);
    // 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    // height: 250px;
    width: min-content;
    background: #ffffff;
  }
  .item-card h2 {
    font-size: 30px;
    color: #262626;
  }
  .project-item img {
    width: 750px;
    height: 750px;
    align-items: center;
    // margin: 0 0 0 10px;
  }
}
@media only screen and (max-width : 1700px) and (min-width : 1500px) {
  .project-item {
    display: grid;
    grid-template-columns: auto auto;
     grid-gap: 60px;
    margin-top: 50px;
    // display: flex;
    justify-content: space-between;
  }

  .item-card {
    box-shadow:
      inset // 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(190, 190, 190);
    // 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    // height: 250px;
    width: min-content;
    background: #ffffff;
  }
  .item-card h2 {
    font-size: 30px;
    color: #262626;
  }
  .project-item img {
    width: 500px;
    height: 500px;
    align-items: center;
    // margin: 0 0 0 10px;
  }
}
@media only screen  and (max-width : 3200px) and (min-width : 3000px) {
  .project-item {
     display: grid;
    grid-template-columns: auto auto;
     grid-gap: 60px;
    margin-top: 50px;
    // display: flex;
    justify-content: space-between;
  }

  .item-card {
    box-shadow:
      inset // 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(190, 190, 190);
    // 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    // height: 250px;
    width: min-content;
    background: #ffffff;
  }
  .item-card h2 {
    font-size: 30px;
    color: #262626;
  }
  .project-item img {
    width: 900px;
    height: 900px;
    align-items: center;
    // margin: 0 0 0 10px;
  }
}
@media only screen   and (min-width : 3200px) {
  .project-item {
     display: grid;
    grid-template-columns: auto auto auto;
     grid-gap: 60px;
    margin-top: 50px;
    // display: flex;
    justify-content: space-between;
  }

  .item-card {
    box-shadow:
      inset // 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(190, 190, 190);
    // 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    // height: 250px;
    width: min-content;
    background: #ffffff;
  }
  .item-card h2 {
    font-size: 30px;
    color: #262626;
  }
  .project-item img {
    width: 900px;
    height: 900px;
    align-items: center;
    // margin: 0 0 0 10px;
  }
}

