<div class="project">
  <div class="container">
    <h1>Projects</h1>
    <!-- <div class="project-item">
      <div class="card">
      </div>
      <div class="card">
      </div>
      <div class="card">
      </div>
    </div> -->
    <div class="project-item">
      <div class="project-item-list">
        <img src="./assets/img/TestProjectImg_1.jpg" alt="card">
      </div>
      <div class="project-item-list">
        <img src="./assets/img/TestProjectImg_1.jpg" alt="card">
      </div>
      <div class="project-item-list">
        <img src="./assets/img/TestProjectImg_1.jpg" alt="card">
      </div>
      <div class="project-item-list">
        <img src="./assets/img/TestProjectImg_1.jpg" alt="card">
      </div>
      <div class="project-item-list">
        <img src="./assets/img/TestProjectImg_1.jpg" alt="card">
      </div>
      <div class="project-item-list">
        <img src="./assets/img/TestProjectImg_1.jpg" alt="card">
      </div>
    </div>
    <!-- <div class="project-item">
      <div class="card">
      </div>
      <div class="card">
      </div>
    </div> -->
  </div>
</div>
