<div class="project">
  <div class="project-detail">
    <h1>Projects</h1>
    <div class="project-item">
      <div class="project-item-list">
        <div class="item-card">
          <img src="./assets/img/TestProjectImg_1.jpg" alt="card" (click)="projectModal(1)">
          <h2>Project </h2>
        </div>
      </div>
      <div class="project-item-list">
        <div class="item-card">
          <img src="./assets/img/TestProjectImg_2.jpg" alt="card" (click)="projectModal(2)">
          <h2>Project </h2>
        </div>
      </div>
      <div class="project-item-list">
        <div class="item-card">
          <img src="./assets/img/TestProjectImg_3.jpg" alt="card" (click)="projectModal(3)">
          <h2>Project </h2>
        </div>
      </div>
      <div class="project-item-list">
        <div class="item-card">
          <img src="./assets/img/TestProjectImg_4.jpg" alt="card" (click)="projectModal(4)">
          <h2>Project </h2>
        </div>
      </div>
      <div class="project-item-list">
        <div class="item-card">
          <img src="./assets/img/TestProjectImg_5.jpg" alt="card" (click)="projectModal(5)">
          <h2>Project </h2>
        </div>
      </div>
      <div class="project-item-list">
        <div class="item-card">
          <img src="./assets/img/TestProjectImg_6.jpg" alt="card" (click)="projectModal(6)">
          <h2>Project </h2>
        </div>
      </div>
    </div>
    <!-- <div class="project-item">
      <div class="card">
      </div>
      <div class="card">
      </div>
    </div> -->
  </div>
</div>
<ng-template #ProjectModal1>
  <app-project-experiende-pop-up
    [ProjectItem]="'Project 1'"
    (close)="closeModal()">
  </app-project-experiende-pop-up>
</ng-template>
<ng-template #ProjectModal2>
  <app-project-experiende-pop-up
    [ProjectItem]="'Project 2'"
    (close)="closeModal()">
  </app-project-experiende-pop-up>
</ng-template>
<ng-template #ProjectModal3>
  <app-project-experiende-pop-up
    [ProjectItem]="'Project 3'"
    (close)="closeModal()">
  </app-project-experiende-pop-up>
</ng-template>
<ng-template #ProjectModal4>
  <app-project-experiende-pop-up
    [ProjectItem]="'Project 4'"
    (close)="closeModal()">
  </app-project-experiende-pop-up>
</ng-template>
<ng-template #ProjectModal5>
  <app-project-experiende-pop-up
    [ProjectItem]="'Project 5'"
    (close)="closeModal()">
  </app-project-experiende-pop-up>
</ng-template>
<ng-template #ProjectModal6>
  <app-project-experiende-pop-up
    [ProjectItem]="'Project 6'"
    (close)="closeModal()">
  </app-project-experiende-pop-up>
</ng-template>
