<div class="modal-header" style="width: 100%;">
  <!-- <h5 class="modal-title" style="color:#000; margin: 0 auto;"> -->
    <!-- <h5 class="modal-title" style="color:#000; "> -->
    <!-- {{ header }}
  </h5> -->
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="exitMiss()">
    <span aria-hidden="true"class="visually-hidden" >&times;</span>
  </button>
</div>
<ng-template [ngIf]="ProjectItem" [ngOutletContext]="context">

  <div class="modal-body" style="width: 100%">
    <h5>
      {{ header }}
    </h5>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus unde consequuntur dolore, necessitatibus
      reprehenderit eum ad sit laudantium consequatur praesentium architecto vero soluta ex ipsam porro provident
      quisquam
      eveniet veniam.</p>
  </div>
  <!-- <div class="modal-footer" style="margin: 0 auto;">
    <button type="button" class="btn btn-secondary" style="margin: 0 auto;" data-dismiss="modal"  (click)="exitMiss()">Close</button>
  </div> -->
</ng-template>
